body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.main-header {
  text-align: center;
  font-size: 3rem;
}

.slide img {
  width: 100%;
}

.slider-container {
  overflow: scroll;
  max-width: 500px;
  position: relative;
  margin: auto;
  border: #717171;
}

.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
  background-color: rgba(115, 115, 115, 0.8);
}

.title {
  color: #eff5d4;
  font-size: 2rem;
  position: absolute;
  display: block;
  top: 5%;
  width: 100%;
  text-align: center;
}

.write-up {
  color: #eff5d4;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.75s;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.75s;
}

.slideOutLeft {
  transform: translateX(-100vw);
  transition: transform 0.75s;
}

.slideOutRight {
  transform: translateX(100vw);
  transition: transform 0.75s;
}

@media screen and (min-width: 64em) {
  .slideOutLeft {
    transform: translateX(-40vw);
    transition: transform 1s;
  }

  .slideOutRight {
    transform: translateX(40vw);
    transition: transform 1s;
  }

  .main-header {
    font-size: 4rem;
  }

  .slider-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.indicators {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#mini-slide-one {
  background-image: url('https://source.unsplash.com/UylqA1MFQLo/800x600');
}

#mini-slide-two {
  background-image: url('https://source.unsplash.com/Sg48mOsbnp4/800x600');
}

#mini-slide-three {
  background-image: url('https://source.unsplash.com/qJfznuTMAYA/800x600');
}

#mini-slide-four {
  background-image: url('https://source.unsplash.com/DWPjxlWk-hk/800x600');
}

.indicator-group {
  margin-top: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.active-indicator {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 25%;
  transition: border-radius 2s;
}

#timer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
